/*
	GLOBAL
*/

body,html {
	background:#fff;
	color:#000;
	font:16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin:20px;
	text-align:center;
}

h1,h2,h3,h4,h5,h6,strong {
	color:#000;
	font-weight:bold;
}

a, a:visited {
	color:#000;
	cursor:pointer;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a.button {
	background:#000;
	padding:6px 12px;
	color:#fff;
	font-size:13px;
	margin:1em 0;
	display:inline-block;
}

a.button:hover {
	text-decoration:none;
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

blockquote {
	font-style:italic;
}

/*
	LAYOUT
*/

div#container {
	width:960px;
	margin:0 auto;
	text-align:left;
}

header {
	margin-bottom:40px;
}

header h2 {
	font-size:14px;
	font-weight:normal;
}

footer {
	padding:40px 0;
	clear:both;
	text-align:left;
}

nav {
	margin-top:40px;
}

nav ul {
	margin:0;
	padding:0;
}

nav ul li {
	display:inline-block;
	margin:0 15px 0 0;
}

/*
	LAYOUT
*/

div#content img {
	/*margin-bottom:10px;*/
}

div#content h2 {
	margin-bottom:20px;
}

div#content-pag {
	float:right;
	font-size:14px;
}

div.lcol {
	width:70%;
	float:left;
	margin-right:5%;
}

div.rcol {
	width:25%;
	float:left;
}

div.lcol.nofloat, div.rcol.nofloat { float:none; }

article {
	margin-bottom:30px;
}

ol.archive li {
	width:210px;
	margin-right:10px;
	margin-bottom:10px !important;
	display:inline-block;
}

ol.archive.content li {
	width:148px;
}

ol.archive.albums li {
	width:227px;
}

ol.archive.essays li {
	width:310px;
	margin-bottom:20px !important;
}

ol.archive.content li:nth-child(6), ol.archive.albums li:nth-child(4), ol.archive.essays li:nth-child(3) {
	margin-right:0;
}

/*
	ASSIGNED CLASSES
	See: http://help.koken.me/customer/portal/articles/828695-css-classes
*/

/* highlights navigation link for current page */
a.k-nav-current {
	color:#ff6e00;
}

/* used for fallback text in console */
.k-note {}

/* wrapper for inserted media */
.k-content-embed {
	margin:1em 0;
}

/* wrapper of the media asset itself */
.k-content {
	line-height:0; /* resolves html whitespace */
	margin:0 0 1em 0;
}

/* wrapper for title/caption underneath photo/video, if turned on */
.k-content-text {
	padding:0 0 1em;
}

/* wrapper for the media's title */
.k-content-title {
	display:block;
	font-weight:bold;
}

/* wrapper for the media's caption */
.k-content-caption {
	font-style:italic;
}
